@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500');

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
  font-family: 'Fira Code', monospace;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-size: clamp(2.25rem, 2vw + 1.5rem, 4rem);
  text-size-adjust: auto;
  margin: 0;
  padding: 0;

  -webkit-transition: all $default-animation-time ease-in-out, color $default-animation-time ease-in-out;
  -moz-transition: all $default-animation-time ease-in-out, color $default-animation-time ease-in-out;
  -o-transition: all $default-animation-time ease-in-out, color $default-animation-time ease-in-out;
  transition: all $default-animation-time ease-in-out, color $default-animation-time ease-in-out;
}

a, a:visited {
  text-decoration: underline;
}