html {
  --secondary-text-clr: #efefef;

  &.dark-mode {
    --background-clr: #212121;
    --primary-clr: #3760dc;
    --secondary-clr: #2e2e2e;
    --text-clr: #efefef;
    --shadow-clr: #efefef;
    --border-clr: #efefef;
    --skill-clr: #505050;
    --skill-highlight-clr: rgba(148, 148, 148, 1);
  }

  &.light-mode {
    --background-clr: #efefef;
    --primary-clr: #005aaf;
    --secondary-clr: #15102e;
    --text-clr: #212121;
    --shadow-clr: #212121;
    --border-clr: #212121;
    --skill-clr: #ffffff;
    --skill-highlight-clr: rgba(104, 157, 208, 1);
  }
}
